:root {
    --dark-navy: #1F2937;
}

.container {
    display: flex;
    flex-direction: column;
    font: Roboto;

}

nav {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    padding: 20px 0px 20px 100px;
    align-items: center;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;

}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 100px;
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 15px;
    font-family: 'Roboto', arial;
}



/* HERO */
.bx-hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 90px;
}

.bx-hero-ct {
    display: flex;
    align-items: center;
}


.hero-dashboard {
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: auto;

}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

h5 {
    opacity: 0.7;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.bx-hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.header-image img {
    width: 600px;
    height: 350px;
    margin-left: auto;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 90px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

.main-logo {
    display: flex;
    flex-direction: row;
    ;
}

.main-logo img {
    height: 100px;
    width: 200px;
    justify-content: space-between;
    padding: 30px;
}

.ct-quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 90px;
    align-items: center;
}

h3 {
    opacity: 90%;
}

/* BOTTOM SIGN UP */

.bottom {
    display: flex;
    flex-direction: column;
}

.bottom-end-ct {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.bottom-end-box {
    text-align: left;
    margin-right: auto;
}

.bottom-end-box h4 {
    color: #fff;
    ` margin: 5px 30px 30px 50px;
}

.bottom-end-box h6 {
    color: #fff;
    padding: 0;
    margin: 3px 0px 0px 50px;
}

.sign-up-btn {
    margin-left: auto;
    margin-right: 50px;
}